---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// override the general colors
$primary-color: cornflowerblue;
$link-color: cornflowerblue;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// overriding the color of the masthead link colors
.masthead__menu-item a {
    color: cornflowerblue; 
}

// overriding the masthead link underline colors
.greedy-nav .visible-links a:before {
  background-color: cornflowerblue;
}

// overriding general font sizes
html {
  font-size: 12px;
  
  
  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px; 
  }

  @include breakpoint($x-large) {
    font-size: 18px; 
  }
}

$type-size-1                  : 2.441em !default;  // ~29.292px
$type-size-2                  : 1.953em !default;  // ~23.436px
$type-size-3                  : 1.563em !default;  // ~18.756px
$type-size-4                  : 1.25em !default;   // ~15px
$type-size-5                  : 1em !default;      // ~12px
$type-size-6                  : 0.75em !default;   // ~9px
$type-size-7                  : 0.75em !default;   // ~9px
$type-size-8                  : 0.75em !default;   // ~9px
$type-size-9                  : 0.75em !default;   // ~9px
$type-size-10                  : 0.75em !default;   // ~9px

// Overriding table size
table {
  font-size: $type-size-5;
}

td {
  border-bottom: 0px;
}





// overriding the color of the splash image caption
.page__hero {
  &--overlay {
    .page__title {
       font-size: 36px;
       color: #fff;
       color: #fff;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .page__lead {
       font-size: 30px;
       color: #fff;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }
  }
}
