/* ==========================================================================
    CONFERENCE SCHEDULE
   ========================================================================== */

div.schedule {
    max-width: 100%;
}

div#generatePDF {
    padding-top: 20px;
    max-width: 100%;
}

#hidden-program-table {
    display: none;
}

a.session-selector {
    color: #fff;
    background-color: $success-color;
    font-size: $type-size-8;
    padding: 0.35em 0.45em;
    font-family: $sans-serif;
    font-weight: bold;
    text-align: center;
    @include breakpoint($medium) {
      font-size: $type-size-7;
    }
    &.disabled {
        background-color: $success-color;
        /*pointer-events: none;*/
        cursor: not-allowed;
        filter: alpha(opacity=40);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.40;
    }
}

a.session-deselector {
    color: #fff;
    background-color: $danger-color;
    font-size: $type-size-8;
    padding: 0.35em 0.45em;
    font-family: $sans-serif;
    font-weight: bold;
    text-align: center;
    @include breakpoint($medium) {
      font-size: $type-size-7;
    }
    &.disabled {
        background-color: $danger-color;
        /*pointer-events: none;*/
        cursor: not-allowed;
        filter: alpha(opacity=40);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.40;
    }
}

div#generatePDFForm {
    width: span(20);
    padding: 0.5em;
    font-family: $serif;
    text-align: center;
    vertical-align: middle;
    font-size: $type-size-6;
    background-color: $lighter-gray;
    border: 1px solid $light-gray;

    a#generatePDFButton {
        margin-top: 10px;
        font-size: $type-size-6;

        @include breakpoint($medium) {
            font-size: $type-size-5;
        }
    }

    input#includePlenaryCheckBox {
        color: #f2f2f2;
        width: 16px;
        height: 16px;
    }

    span#checkBoxLabel {
        font-size: $type-size-5;
    }
}

div.day {
    width: span(20);
    padding: 0.5em;
    font-family: $serif;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    font-size: $type-size-5;
    background-color: $lighter-gray;
    border: 1px solid $light-gray;
}

div#testingInstructions {
    font-size: $type-size-6;
    padding: 10px;

    @include breakpoint($medium) {
        font-size: $type-size-5;
    }

    div#testingNotes {
        float: left;
    }

}

div.session {
    display: inline-block;
    padding: 0.5em;
    padding-left: 1em;
    border: 1px solid $light-gray;

    &.session-tutorials, &.session-plenary, &.session-posters {
        width: span(20);
    }

    &.session-papers-outstanding1 {
        width: span(20 of 20);

        @include breakpoint($medium) {
            width: span(20 of 20);
        }

        @include breakpoint($medium-wide) {
            width: span(20 of 20);
        }

        @include breakpoint($large) {
            width: span(20 of 20);
        }

        @include breakpoint($x-large) {
            width: span(10 wide);
        }

        @include breakpoint($xx-large) {
            width: span(10 wide);
        }
    }

    &.session-papers-outstanding2 {
        width: span(20 of 20);

        @include breakpoint($medium) {
            width: span(20 of 20);
        }

        @include breakpoint($medium-wide) {
            width: span(20 of 20);
        }

        @include breakpoint($large) {
            width: span(20 of 20);
        }

        @include breakpoint($x-large) {
            width: span(10) last;
        }

        @include breakpoint($xx-large) {
            width: span(10) last;
        }
    }


    &.session-papers1, &.session-papers2, &.session-papers3, &.session-papers4 {
        width: span(20 of 20);

        @include breakpoint($medium) {
            width: span(20 of 20);
        }

        @include breakpoint($medium-wide) {
            width: span(20 of 20);
        }

        @include breakpoint($large) {
            width: span(20 of 20);
        }

        @include breakpoint($x-large) {
            width: span(4 narrow);
        }

        @include breakpoint($xx-large) {
            width: span(4 narrow);
        }
    }

    &.session-papers5 {
        width: span(20 of 20);

        @include breakpoint($medium) {
            width: span(20 of 20);
        }

        @include breakpoint($medium-wide) {
            width: span(20 of 20);
        }

        @include breakpoint($large) {
            width: span(20 of 20);
        }

        @include breakpoint($x-large) {
            width: span(4);
        }

        @include breakpoint($xx-large) {
            width: span(4);
        }
    }

    .session-title {
        font-size: $type-size-5;
        color: $text-color;
        text-decoration: none;
    }

    .session-time {
        margin-right: 5px;
        float: left;

        font-size: $type-size-6;
        font-style: italic;
    }

    .paper-session-details {
        float: left;
    } 

    .poster-session-details {
        float: left;
    }

    hr.detail-separator {
        border: 0;
        height: 1px;
        background: $light-gray;
        margin-left: auto;
        margin-right: auto;
    }


    .session-abstract {
        font-size: $type-size-6;
    }

    .tutorial-table {
        border: 1px;
        font-size: $type-size-5;
        td {
            border: 0px;
        }
    }

    .poster-table {
        border: 1px;
        font-size: $type-size-6;
        td {
            border: 0px;
        }
    }

    td#tutorial-location {
        cursor: text;
    }

    .paper-table {
        border: 0px;
        font-size: $type-size-6;
        td {
            border: 0px;
        }
    }

    .tutorial-title {
        font-size: $type-size-6;
        text-decoration: none;
    }

    .paper-title, .poster-title  {
        font-weight: bold;
    }

    .session-location {
        float: left;
    }

    .session-external-location {
        float: left;
    }

    .info-button {
        cursor: text;
    }

    .session-people {
        font-size: $type-size-5;
    }

    tr#tutorial, tr#poster {
        cursor: pointer;
        background-color: #fff;
        &.selected {
            background-color: $lighter-gray2;
        }
    }


    tr#paper {
        cursor: pointer;
        background-color: #fff;
        &.selected {
            background-color: $lighter-gray2;
        }

        @include breakpoint($x-large) {
            &.hovered {
                background-color: yellow;
            }
            &.conflicted {
                background-color: #FF9999;
            }
            &.hovered.selected {
                background-color: #4EEE94;
            }
            &.conflicted.selected {
                background-color: #4EEE94;
            }
        }
    }

    td#paper-time {
        font-size: $type-size-4;
    }

    #expander {
      display: inline-block;

      margin-right: 5px;
      width: 10px;
      height: 10px;
      @include breakpoint($medium) {
        margin-right: 10px;
        width: 12px;
        height: 12px;
      }
      background: linear-gradient(to bottom, transparent 35%, $dark-gray 35%, $dark-gray 65%,  transparent 65%),
        linear-gradient(to right, transparent 35%, $dark-gray 35%, $dark-gray 65%, transparent 65%);
      border: 1px solid $gray;
    }

    #expander.expanded {
      background: linear-gradient(to bottom, transparent 35%, $dark-gray 35%, $dark-gray 65%,  transparent 65%);
    }

}

