/* ==========================================================================
    CONFERENCE SCHEDULE
   ========================================================================== */

div.schedule {
    max-width: 100%;
}

div#generatePDF {
    padding-top: 20px;
    max-width: 100%;
}

#hidden-program-table {
    display: none;
}

a.session-selector {
    color: #fff;
    background-color: $success-color;
    font-size: $type-size-10;
    padding: 0.35em 0.45em;
    font-family: $sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: $border-radius;
    @include breakpoint($medium) {
      font-size: $type-size-7;
    }
    &.disabled {
        background-color: $light-gray;
        cursor: not-allowed;
        /* filter: alpha(opacity=40); */
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.40;
    }
}

a.session-deselector {
    color: #fff;
    background-color: $danger-color;
    font-size: $type-size-10;
    padding: 0.35em 0.45em;
    font-family: $sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: $border-radius;
    @include breakpoint($medium) {
      font-size: $type-size-7;
    }
    &.disabled {
        background-color: $light-gray;
        cursor: not-allowed;
        /* filter: alpha(opacity=40); */
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.40;
    }
}

div#generatePDFForm {
    float: left;
    width: percentage(24/24);
    padding: 0.5em;
    font-family: $serif;
    text-align: center;
    vertical-align: middle;
    font-size: $type-size-6;
    background-color: $lighter-gray;
    border: 1px solid $light-gray;

    a#generatePDFButton {
        margin-top: 10px;
        font-size: $type-size-5;

        @include breakpoint($medium) {
            font-size: $type-size-4;
        }
    }

    input#includePlenaryCheckBox {
        color: #f2f2f2;
        width: 16px;
        height: 16px;
    }

    span#checkBoxLabel {
        font-size: $type-size-5;
    }
}

div.day {
    float: left;
    width: percentage(24/24);
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    font-size: $type-size-5;
    background-color: $lighter-gray;
    border: 1px solid $light-gray;
}

div#introParagraph {
    font-size: $type-size-7;
    padding: 20px;

    @include breakpoint($medium) {
        font-size: $type-size-6;
    }
}

div#popupInstructionsDiv {

    div#title {
        font-size: $type-size-6;
        font-weight: bold;
        text-align: center;
        
        @include breakpoint($medium) {
            font-size: $type-size-5;
        }
    }

    div#popupInstructions {
        font-size: $type-size-8;
        text-align:left;
        ul {
            padding-left: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        @include breakpoint($medium) {
            font-size: $type-size-7;
            ul {
                padding-left: 20px;
            }
        }
    }
}

div.session-box {
    overflow: hidden;
    border: 2px solid black;
}

div.session-header {
    font-size: $type-size-5;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 35px;
    // background-color: #FFE4E1;
    background-color: red;
}

div.session {
    display: inline-block;
    padding: 0.5em;
    // padding-left: 1em;
    border: 1px solid $light-gray;

    &.session-tutorials, &.session-plenary, &.session-posters {
        width: percentage(24/24);
    }

    &.session-papers-outstanding1 {
        float: left;
        width: percentage(24/24);

        @include breakpoint($medium) {
            width: percentage(24/24);
        }

        @include breakpoint($medium-wide) {
            width: percentage(24/24);
        }

        @include breakpoint($large) {
            border-right: none;
            width: percentage(12/24);
        }

        @include breakpoint($x-large) {
            width: percentage(12/24);
        }

        @include breakpoint($xx-large) {
            width: percentage(12/24);
        }
    }

    &.session-papers-outstanding2 {
        float: right;
        width: percentage(24/24);
        
        @include breakpoint($medium) {
            width: percentage(24/24);
        }

        @include breakpoint($medium-wide) {
            width: percentage(24/24);
        }

        @include breakpoint($large) {
            width: percentage(12/24);
        }

        @include breakpoint($x-large) {
            width: percentage(12/24);
        }

        @include breakpoint($xx-large) {
            width: percentage(12/24);
        }
    }


    &.session-papers1, &.session-papers2, &.session-papers3 {
        float: left;
        width: percentage(24/24);

        @include breakpoint($medium) {
            width: percentage(24/24);
        }

        @include breakpoint($medium-wide) {
            width: percentage(24/24);
        }

        @include breakpoint($large) {
            width: percentage(6/24);
        }

        @include breakpoint($x-large) {
            width: percentage(6/24);
        }

        @include breakpoint($xx-large) {
            width: percentage(6/24);
        }
    }

    &.session-papers4 {
        float: right;
        width: percentage(24/24);

        @include breakpoint($medium) {
            width: percentage(24/24);
        }

        @include breakpoint($medium-wide) {
            width: percentage(24/24);
        }

        @include breakpoint($large) {
            width: percentage(6/24);
        }

        @include breakpoint($x-large) {
            width: percentage(6/24);
        }

        @include breakpoint($xx-large) {
            width: percentage(6/24);
        }
    }

    .session-title {
        font-size: $type-size-5;
        color: $text-color;
        text-decoration: none;
    }

    .session-time {
        margin-right: 5px;
        float: left;

        font-size: $type-size-6;
        font-style: italic;
    }

    .paper-session-details {
        float: left;
    } 

    .poster-session-details {
        float: left;
    }

    hr.detail-separator {
        border: 0;
        height: 1px;
        background: $light-gray;
        margin-left: auto;
        margin-right: auto;
    }

    .session-abstract {
        font-size: $type-size-5;
    }

    .tutorial-table {
        border: 1px;
        font-size: $type-size-5;
        td {
            border: 0px;
        }
    }

    .poster-table {
        border: 1px;
        font-size: $type-size-6;
        td {
            border: 0px;
        }
    }

    td#tutorial-location {
        cursor: text;
    }

    .paper-table {
        border: 0px;
        font-size: $type-size-6;
        td {
            border: 0px;
        }
    }

    .poster-type {
        color: red;
        text-decoration: underline;
    }

    .tutorial-title {
        font-size: $type-size-6;
        text-decoration: none;
    }

    .paper-title, .poster-title  {
        font-weight: bold;
    }

    .session-location {
        font-size: $type-size-6;
        float: left;
    }

    .session-chair {
        font-size: $type-size-5;
    }

    .session-external-location {
        float: left;
    }

    .info-button {
        cursor: text;
    }

    .session-people {
        font-size: $type-size-5;
    }

    tr#tutorial, tr#poster {
        cursor: pointer;
        background-color: #fff;
        font-size: $type-size-5;
        &.selected {
            background-color: $lighter-gray2;
        }
    }


    tr#paper {
        cursor: pointer;
        background-color: #fff;
        font-size: $type-size-5;
        &.selected {
            background-color: $lighter-gray2;
        }

        @include breakpoint($large) {
            &.hovered {
                background-color: yellow;
            }
            &.conflicted {
                background-color: #FF9999;
            }
            &.hovered.selected {
                background-color: #4EEE94;
            }
            &.conflicted.selected {
                background-color: #4EEE94;
            }
        }
    }

    td#paper-time {
        font-size: $type-size-5;
    }

    #expander {
      display: inline-block;
      cursor: pointer;

      margin-right: 5px;
      width: 10px;
      height: 10px;
      @include breakpoint($medium) {
        margin-right: 10px;
        width: 12px;
        height: 12px;
      }
      background: linear-gradient(to bottom, transparent 35%, $dark-gray 35%, $dark-gray 65%,  transparent 65%),
        linear-gradient(to right, transparent 35%, $dark-gray 35%, $dark-gray 65%, transparent 65%);
      border: 1px solid $gray;
    }

    #expander.expanded {
      background: linear-gradient(to bottom, transparent 35%, $dark-gray 35%, $dark-gray 65%,  transparent 65%);
    }

}

